@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
  }
  
  body {
    color: white;
  }
}

@layer utilities {
  .text-white {
    color: rgb(255 255 255) !important;
  }
  
  .text-gray-100 {
    color: rgb(243 244 246) !important;
  }
  
  .text-gray-200 {
    color: rgb(229 231 235) !important;
  }
}